<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/blog_register.css}">
</head>
<body>
        <div>
            <form th:action="@{/user/blog/register/process}" enctype="multipart/form-data" method="post">
                <label for="title">タイトル</label>
                <input type="text" id="title" name="blogTitle">
                <label for="image">画像</label>
                <input type="file" id="image" name="blogImage">
                <label for="article">記事</label>
                <textarea name="blogDetail" id="article" cols="65" rows="20"></textarea>
				<label for="category">カテゴリ</label>
                <input type="text" id="title" name="category">
                <label for="register-date">日付</label>
                <input type="date" id="re-date" name="registerDate">
                <span>
                    <input type="submit" id="submit4" value="登録">
                    <input type="submit" id="submit3" value="戻る">
                </span>
            </form>
        </div>
    
</body>
</html>