<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="blog.js"></script>
    <link rel="stylesheet" th:href="@{/css/blog.css}">
</head>
<body>
    <div id="bigbox">
        <div id="banner">
            <img th:src="@{/image/ronaldo1.jpg}" alt="">
        </div>
        <nav>
            <a class="homepage" th:href="@{/user/blog/list}">home</a>
            <a th:href="@{/user/blog/register}">Blog Register</a>
            <a th:href="@{/user/blog/logout}">Logout</a>
        </nav>
        <div id="main">
            <div id="main_left">
                <h2>Ronaldo</h2>
                <img src="@{/image/ronaldo2.jpg}" alt="">
                <p>
                    <span>Name</span>:Cristiano Ronaldo<br>
                    <span>性别</span>:男<br>
                    <span>趣味</span>:サッカー<br>
                    <span>国</span>ポルトガル<br>
                    <span>専門</span>:プロサッカー選手
                </p>
                <article class="blog-topic-article" th:each="blog:${blogList}">
					<a th:href="@{/user/blog/edit/{blogId}(blogId=${blog.blogId})}" class="blog-colum">
                        <img th:src="@{/blog-img/{items}(items=${blog.blogImage})}">
                    </a>
                </article>
            </div>
           
        </div>
        
        <footer>
            <p>
                版权所有©*****
            </p>
        </footer>
    </div>


    
</body>
</html>