<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="blog.css">
    <script src="blog.js"></script>
</head>
<body>
    <div id="bigbox">
        <div id="banner">
            <img src="ronaldo1.jpg" alt="">
        </div>
        <nav>
            <a class="homepage" href="">home</a>
            <a href="register.html">Blog Register</a>
            <a href="login.html">Logout</a>
        </nav>
        <div id="main">
            <div id="main_left">
                <h2>Ronaldo</h2>
                <img src="ronaldo2.jpg" alt="">
                <p>
                    <span>Name</span>:Cristiano Ronaldo<br>
                    <span>性别</span>:男<br>
                    <span>趣味</span>:サッカー<br>
                    <span>国</span>ポルトガル<br>
                    <span>専門</span>:プロサッカー選手
                </p>
                <article class="blog-topic-article" th:each="blog:${blogList}">
					<a th:href="@{/user/blog/edit/{blogId}(blogId=${blog.blogId})}" class="blog-colum">
                        <img th:src="@{/blog-img/{items}(items=${blog.blogImage})}">
                    </a>
                </article>
            </div>
            <div id="main_right">
                <h2>Ronaldoの経歴</h2>
                <p>
                    1.サッカー史上最多得点記録保持者。代表得点世界記録保持者
                </p>
                <p>
                    2.3連覇を含めてUEFAチャンピオンズリーグを5度制覇し、ヨーロピアン・カップからの大会名変更後では歴代最多の優勝回数を経験している
                </p>
                <p>
                    3.UEFAチャンピオンズリーグで7度得点王を獲得し、バロンドールを5度受賞するなど数々の栄誉を手にした
                </p>
                <p>
                    4.またレアル・マドリードの通算最多得点記録、プレミアリーグのシーズン最多得点記録[注釈 3]、UEFAチャンピオンズリーグの通算最多出場・得点・アシスト記録、同シーズン最多得点記録、FIFAクラブワールドカップの通算最多得点などで数々の記録を打ち立てている[
                </p>
                <img src="picture/life.png" alt="">
            </div>
        </div>
        
        <footer>
            <p>
                版权所有©*****
            </p>
        </footer>
    </div>


    
</body>
</html>